.jjim-contents {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 230px;
}
.jjim-contents .delete-container {
  display: flex;
  justify-content: end;
}
.jjim-contents .delete-container .alldelete {
  background-color: transparent;
}
.jjim-contents .cardlists {
  height: 570px;
  position: relative;
  margin-top: 34px;
  margin-bottom: 196px;
}
.jjim-contents .cardlists .none-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #ff0000;
}
.jjim-contents .booking-container {
  display: flex;
  align-items: end;
  gap: 34px;
  flex-direction: column;
}
.jjim-contents .booking-container .booking-btns {
  display: flex;
  gap: 20px;
}
.jjim-contents .booking-container .booking-btns .jjimbtn {
  border: 1px solid var(--button-border-color);
  width: 80px;
  height: 36px;
  text-align: center;
  line-height: 2.2rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.jjim-contents .booking-container .booking-btns .jjimbtn:hover {
  background-color: var(--primary-color);
  color: #f1f1f1;
  border: none;
}
.jjim-contents .booking-container .total-price {
  font-size: 20px;
  font-weight: bold;
  width: 282px;
  display: flex;
  justify-content: space-between;
}

/* jjimcard */
.jjimcard {
  border: 1px solid #a6a6a6;
  border-radius: 30px;
  width: 560px;
  padding: 20px;
  margin: 0 auto;
}
.jjimcard .jjimcard-wrapper {
  position: relative;
}
.jjimcard .jjimcard-wrapper .jjimcard-photo {
  width: 518px;
  height: 292px;
  border-radius: 30px;
  overflow: hidden;
}
.jjimcard .jjimcard-wrapper .jjimcard-photo img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.jjimcard .jjimcard-wrapper .checkbox {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.jjimcard .jjimcard-wrapper .checkbox input {
  width: 100%;
  height: 100%;
}
.jjimcard .jjimcard-content {
  margin-top: 16px;
}
.jjimcard .jjimcard-content .title {
  font-size: 24px;
  font-weight: 500;
}
.jjimcard .jjimcard-content .jjimcard-location {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
}
.jjimcard .jjimcard-content .jjimcard-location .location-icon {
  width: 18px;
  height: 18px;
}
.jjimcard .jjimcard-content .jjimcard-location .location-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.jjimcard .jjimcard-content .jjimcard-slide {
  margin-top: 40px;
}
.jjimcard .jjimcard-content .jjimcard-slide .jjimcard-info {
  display: flex;
  gap: 16px;
}
.jjimcard .jjimcard-content .jjimcard-slide .jjimcard-info .jjimcard-image {
  border-radius: 24px;
  width: 224px;
  height: 124px;
  overflow: hidden;
}
.jjimcard .jjimcard-content .jjimcard-slide .jjimcard-info .jjimcard-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.jjimcard .jjimcard-content .jjimcard-slide .jjimcard-info .jjimcard-details {
  width: calc(100% - 236px);
  display: flex;
  justify-content: space-between;
}
.jjimcard
  .jjimcard-content
  .jjimcard-slide
  .jjimcard-info
  .jjimcard-details
  .jjimcard-detail {
  font-size: 14px;
  height: 112px;
}
.jjimcard
  .jjimcard-content
  .jjimcard-slide
  .jjimcard-info
  .jjimcard-details
  .jjimcard-detail
  .jjimcard-title {
  font-size: 24px;
  font-weight: 500;
}
.jjimcard
  .jjimcard-content
  .jjimcard-slide
  .jjimcard-info
  .jjimcard-details
  .jjimcard-detail
  .jjimcard-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}
.jjimcard
  .jjimcard-content
  .jjimcard-slide
  .jjimcard-info
  .jjimcard-details
  .jjimcard-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.jjimcard
  .jjimcard-content
  .jjimcard-slide
  .jjimcard-info
  .jjimcard-details
  .jjimcard-price
  .jjimcard-discount {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .jjim-contents {
    padding: 0 60px;
  }
}
